aside {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--color-box1);
    border-radius: 15px;
    justify-content: space-between;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-box1);
    cursor: pointer;
    border: none;
    height: 90px;
    width: 60px;
    border-radius: 15px;
    padding: 2px;
}

p {
    text-align: center;
    font-size: 22pt;
    margin: 0;
}

.clicked {
    background-color: var(--color-box2);
}
