section {
    background-color: var(--color-box1);
    padding: 0 10px 10px 15px;
    border-radius: 15px;
    height: 500px;
    margin-bottom: 20px;
}

h1 {
    font-size: 22pt;
    text-align: left;
    margin-left: 5px;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.date-box {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

p {
    margin-right: 10px;
    margin-left: 15px;
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
}