section {
    background-color: var(--color-box1);
    padding: 1px 10px 10px 10px;
    border-radius: 15px;
    margin: 10px;
    width: 56vw;
    min-height: 400px;
}

h1 {
    font-size: 22pt;
    text-align: left;
    margin-left: 20px;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.date-box {
    display: flex;
    align-items: center;
}

p {
    margin-right: 10px;
    margin-left: 15px;
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
}